# Ignore output data folder but keep it empty
data_out/*
!data_out/.gitkeep
data_in/*
!data_in/.gitkeep

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak
*.~*

# Ignore VS Code settings
.vscode/

# Ignore virtual environment directories
venv/
env/
*.egg-info/

# Ignore macOS system files
.DS_Store
**/.DS_Store